
/* Reset CSS */
li { float: left;  text-decoration: none;  list-style: none;}
a { text-decoration: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; }

header {
  background-color: #fff;
  display: flex;
  padding: 20px;
  font-family: 'UhBeeRami';
}
header div {}
.logo {
  flex: 1;
}
.gnb {
  flex: 6;
  display: flex;
  justify-content: center;
}
.gnb li {
  margin: 0 20px;
}
.search {
  
  text-align: right;
}
@media (max-width:1200px) {
  header {
    flex-direction: column;
    padding: 20px;
  }
  .gnb li {
    margin: 0 5px;
    font-size: 20px;
  }
  .search {
    text-align: center;
  }
}
@media (max-width:1400px) {
  header {
    flex-direction: column;
    padding: 20px;
  }
  .gnb li {
    margin: 0 5px;
    font-size: 20px;
  }
  .search {
    text-align: center;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }
  .gnb li {
    margin: 0 5px;
    font-size: x-small;
  }
  .logo {
    text-align: center;
  }
  .search {
    text-align: center;
  }
}